@page
@model RazorPortfolio.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Here you can find my most prominent creations. 
    They show educational journey as well as my capability and potential. 
    I thought it made the most sense for me to build the website myself, 
    allowing me more control over the content I display and how I display it.
    This website itself was built using ASP.NET Razor Pages and Bootstrap.</p>
</div>

<div class="card-columns">
    @for (int i = 0; i < ProjectsData.Projects.Count; i += 2)
    {
        var projectA = ProjectsData.Projects[i];
        var projectB = ProjectsData.Projects.Count > i + 1 ? ProjectsData.Projects[i + 1] : null;
        <div class="row mb-2">
            <div class="col-sm-6 my-auto mb-2">
                <div class="card">
                    <img src="@projectA.ImgUrl" class="card-img-top" alt="@projectA.ImgAlt">
                    <div class="card-body">
                        <h5 class="card-title">@projectA.Title</h5>
                        <p class="card-text">@projectA.Body</p>
                        <a href="@projectA.LinkUrl" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        @projectA.Platform
                    </div>
                </div>
            </div>
            @if (projectB is not null)
            {
            <div class="col-sm-6 my-auto">
                <div class="card">
                    <img src="@projectB.ImgUrl" class="card-img-top" alt="@projectB.ImgAlt">
                    <div class="card-body">
                        <h5 class="card-title">@projectB.Title</h5>
                        <p class="card-text">@projectB.Body</p>
                        <a href="@projectB.LinkUrl" class="stretched-link"></a>
                    </div>
                    <div class="card-footer">
                        @projectB.Platform
                    </div>
                </div>
            </div>
            }
        </div>
    }
</div>


